HELP.md
target/
ginas.ix
exports/
nbproject/
.gitignore

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

gsrs-module-substance-example/src/main/resources/application-postgres0.conf
gsrs-module-substance-example/src/test/resources/atomicweightdata.csv
/gsrs-module-substance-example/src/test/resources/DEA_LIST.txt
/gsrs-module-substance-example/src/main/resources/DEA_LIST.txt
/gsrs-module-substance-example/src/main/resources/DEA_SCHED_LIST.txt
/gsrs-module-substance-example/src/main/resources/atomicweightdata.csv
/gsrs-module-substance-example/src/main/resources/atomicweightdata_mod.csv
/gsrs-module-substance-example/src/main/resources/atomicweightdataodd.csv
mvnw.backup
/mvnw
mvnw.unix
mvnw
.gitignore
"gsrs-module-substances-core/src/main/java/gsrs/module/substance/controllers/NitrosamineController.java" 
