language: java

#this will reuse maven dependencies so it doesn't redownload everytime
cache:
  directories:
    - $HOME/.m2
#this overrides the default maven install which is run as part of the install phase we will run our mvn in script
install: true
script:
  - ./installExtraJars.sh
  - ./mvnw clean install -DskipTests
# this is really dirty but there is so much output from these tests and turning off logging and sql isn't enough
# so I grep for ERROR lines which will show the test failures but that returns exit code of 0 if it finds a match so we want "not" that to fail the build if there are errors
  - ! ./mvnw test 2>&1 | grep ERROR
