language: java
size: large
  #this will reuse maven dependencies so it doesn't redownload everytime
  #cache:
  #  directories:
#   - $HOME/.m2
#this overrides the basic maven install which is run as part of the install phase we will run our mvn in script
before_install:
  - git clone https://github.com/ncats/gsrs-spring-starter.git
  - cd gsrs-spring-starter
  - ./mvnw clean install -DskipTests
install: true
script:
  - ./installExtraJars.sh
  - ./mvnw -U clean install -DskipTests
  # this is really dirty but there is so much output from these tests and turning off logging and sql isn't enough
  # so I grep for ERROR lines which will show the test failures but that returns exit code of 0 if it finds a match so we want "not" that to fail the build if there are errors
  - ./mvnw test 2>/dev/null
